[Desktop Entry]
Name=ProzGUI
Comment=ProzGUI download accelerator
Comment[pl]=ProzGUI - program do szybkiego pobierania
Exec=prozgui
Icon=prozgui
Terminal=false
Type=Application
Categories=Network;FileTransfer;
# vi: encoding=utf-8
