[Desktop Entry]
Name=ProzGUI
Comment=ProzGUI download accelerator
Comment[pl]=ProzGUI - program do szybkiego pobierania
Exec=prozgui
Icon=prozgui.png
Terminal=0
Type=Application
# vi: encoding=utf-8
