[Desktop Entry]
Encoding=UTF-8
Name=ProzGUI
Comment=ProzGUI download accelerator
Comment[pl]=ProzGUI - program do szybkiego pobierania
Exec=prozgui
Icon=prozgui.png
Terminal=false
Type=Application
# vi: encoding=utf-8
